@model IEnumerable<ValleDeOro.Models.EstadosReserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped" id="TablaIndice">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.IdEstadoReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEstadoReserva)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEstadoReserva)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.IdEstadoReserva">Editar</a> |
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.IdEstadoReserva">Detalles</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdEstadoReserva">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
